.header{
    max-width: var(--max-width);
    margin: 0 auto;
}

.head-scroll{
    background-color: var(--op-white);
    backdrop-filter: blur(40%);
    box-shadow: 0 10px 20px -10px rgba(59, 59, 59, 0.20);
}

.navbar{
    color: var(--gray-1);
}